*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    flex-flow: row wrap;
    min-width: 320px;
    width: 100vw;
    height: 100vh;
}
/*--------------------------------*/
.game{
    display: flex;
    flex-flow: row wrap;
    width: 65%;
    height: 100%;
    padding: 10px;
}
.game__piece{
    padding: 5px;
    width: 20%;
    height: 33%;
}
    .game__piece img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border: dashed rgb(209, 24, 24);
    }
    .game__piece img:hover{
        border: solid rgb(231, 16, 16);
        box-shadow: 0px 0px 20px black;
    }
/*--------------------------------*/
.menu{
    width: 35%;
    height: 100%;
}
.menu-cards{
    width: 100%;
    height: 50%;
}
    .menu-cards .cards-container{
        display: flex;
        flex-flow: row wrap;
        margin: 5%;
        width: 90%;
        height: 90%;
        /*desconoce el espacio de separacion entre filas*/
    }
    .cards{
        padding: 0px 2.5px;
        width: 28%;
        height: 45%;
        border-radius: 50%;
        border : solid black 2px;
        opacity:  0.6;
    }
    .cards-container .cards:hover{
        border: dashed red 5px;
        opacity: 1;
    }
    .cards-container div{
        width: 16%;
        height: 45%;
    }
.menu-span{
    display: block;
    margin: 0px auto;
    width: 50%;
    height: 6px;
    background-color: black;
    border-radius: 15px;
}
.menu-buttons{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}
    .menu-buttons button{
        width: 125px;
        padding: 2.5px;
        font-size: 1.5rem;
        margin: 20px;
        border-radius: 10px;
        border: double black 6px;
    }
    .menu-buttons button:hover{
        border: double white 6px;
        background-color: black;
        color: white;
    }

/*clases a agregar desde JS*/
.InvisibiltyPieces{
    visibility: hidden;
}

/* -> Para validación cards*/
.PlusCard{
    border: dashed red 5px;
    opacity: 1;
}
.PlusButton{
    border: double white 6px;
    background-color: black;
    color: white;
}
