*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    min-width: 320px;
    max-width: 1800px; /*chek this for responve design*/
    margin: 0px auto;
    width: 100vw;
    height: 100vh;
    background:  black ;
    background: linear-gradient(to bottom , aqua , black);
}
/*----------------------------------------------------------*/
.firstChart{
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 320px;
    width: inherit;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(to bottom , rgba(0, 255, 255, 0.603) , rgba(0, 0, 0, 0.562));

    visibility: initial;

}
.myBrand{
    padding: 10px;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 2px 3px 2px black;
}
.firstChart__description{
    width: 50%;
    max-width: 500px;
    height: 90%;
    margin: 10px auto;
    padding: 10% 20px;
    border: solid white 6px;
    border-radius: 30px;
}
.firstChart__description p{
    font-size: 1.5rem;
    color:  black;
    line-height: 2rem;
    text-align: center;
}
.button1st{
    display: inline-block;
    width: 65px;
    height: 85px;
    margin: 10px auto;
    border: solid white 4px;
    border-radius: 50%;
    background: url("./Sources/checkIMG.png") no-repeat center;
    background-size: 100%;
}
.button1st:hover{
    border: solid black 4px;
}
/*-------------------------------------------------*/
.secondChart{
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 320px;
    width: inherit;
    height: inherit; 
    display: flex;
    flex-flow: row nowrap;
    background: linear-gradient(to bottom , rgba(0, 255, 255, 0.603) , rgba(0, 0, 0, 0.562));

    visibility: hidden;

}
.secondChart__description{
    display: flex;
    flex-flow: column nowrap;
    align-items:flex-end;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
}
.secondChart__description p{
    margin-top: 60px;
    margin-right: 5%;
    width: 60%;
    padding: 10px;
    border: solid white 6px;
    border-radius: 20px;
    font-size: 1.5rem;
    color:  black;
    line-height: 2rem;
    text-align: center;
}
.button2nd{
    display: inline-block;
    margin: 10px 0px;
    margin-right: calc(32.5% - 30px);
    width: 65px;
    height: 85px;
    border: solid white 4px;
    border-radius: 50%;
    background: url("./Sources/checkIMG.png") no-repeat center;
    background-size: 100%;
}
.button2nd:hover{
    border: solid black 4px;
}
.secondChart__column{
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.secondChart__column .whiteSpace{
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.secondChart__column .colorSpace{
    width: 100%;
    height: 60%;
}
/*----------------------------------------------------*/
.therdChart{
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 320px;
    width: inherit;
    height: inherit; 
    display: flex;
    flex-flow: row nowrap;
    background: linear-gradient(to bottom , rgba(0, 255, 255, 0.603) , rgba(0, 0, 0, 0.562));

    visibility: hidden;

}
.therdChart__description{
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.therdChart__description p{
    margin-right:5%;
    width: 70%;
    padding: 10px;
    border: solid white 6px;
    border-radius: 20px;
    font-size: 1.5rem;
    color:  black;
    line-height: 2rem;
    text-align: center;
}
.button3rd{
    display: inline-block;
    margin : 10px 0px;
    margin-right: calc(37.5% - 30px);
    width: 65px;
    height: 85px;
    border: solid white 4px;
    border-radius: 50%;
    background: url("./Sources/checkIMG.png") no-repeat center;
    background-size: 100%;
}
.button3rd:hover{
    border: solid black 4px;
}
.therdChart__column{
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.therdChart__column .colorSpace{
    width: 100%;
    height: 60%;
}
.therdChart__column .whiteSpace{
    width: 100%;
    height: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
/*----------MEDIA QUERIES-----------*/

@media (min-width:370px) {
    .firstChart__description p{
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
@media (min-width:470px) {
    .firstChart__description p{
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
}
@media (min-width:570px) {
    .firstChart__description p{
        font-size: 1.9rem;
        line-height: 2.4rem;
    }
    .secondChart p{
        font-size: 1.9rem;
        line-height: 2.4rem;
    }
}   
@media (min-width:900px) {
    .firstChart__description{
        padding: 5% 20px;
    }
    .firstChart__description p{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .therdChart__description p{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}
/*--------------------------------*/
.game{

    visibility: hidden;

    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 65%;
    height: 100%;
    padding: 1%;
}
.game .count{
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: url("./Sources/3sgIMG.png") no-repeat center rgba(0, 0, 0, 0.568);
    background-size: contain;
    color: black;
}
.game__piece{
    margin: 0px 1%;
    width: 18%;
    height: 33%;
    border-radius: 10px;
    background: url("./Sources/reversePiece.jpg") no-repeat center;
    background-size: 100% 100%;
}
    .game__piece:hover{
        border: solid 2px white;
        box-shadow: 0px 0px 20px white;
    }
/*--------------------------------*/
.menu{

    visibility: hidden;

    width: 33%;
    height: 100%;
}
.menu-cards{
    width: 100%;
    height: 50%;
}
    .menu-cards .cards-container{
        display: flex;
        flex-flow: row wrap;
        padding: 5%;
        width: 100%;
        height: 100%;
    }
    .cards{
        width: 30%;
        height: 40%;
        border-radius: 50%;
        border : solid white 2px;
        opacity:  0.8;
    }
    .cards-container .c6{
        margin-right: 10%;
    }
    .cards-container .c1{
        margin-left: 10%;
    }
    .cards-container .cards:hover{
        border: solid red 2px;
        opacity: 1;
    }
.menu-spanContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}
    .menu-span{
        display: block;
        width: 50%;
        height: 6px;
        background-color: white;
        border: double black 6px;
        border-radius: 15px;
    }
.menu-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 40%;
}
    .menu-buttons button{
        display: block;
        width: 100px;
        height: 30px;
        padding: 2.5px;
        font-size: 1.3rem;
        border-radius: 10px;
        border: solid black 2.5px;
        background: linear-gradient(to bottom , aqua , black);
    }
    .menu-buttons .buttonException{
        margin-bottom: 35px;
    }
    .menu-buttons button:hover{
        border: solid white 2.5px;
        color: white;
    }

/*clases a agregar desde JS*/

/* -> for the introInterfaces*/
.Disapper{
    visibility: hidden;
}
.Apper{
    visibility: initial;
}

/* -> para las piesas*/
.InvisibiltyPieces{
    visibility: hidden;
}
.True1{
    border: solid black 2px;
    background: url("./Sources/oneImageDesktop.jpg") no-repeat center;
    background-size: 100% 100%;
}
.True2{
    border: solid black 2px;
    background: url("./Sources/twoImageDesktop.jpg") no-repeat center;
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px black;
}
.True3{
    border: solid black 2px;
    background: url("./Sources/threeImageDesktop.jpg") no-repeat center;
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px black;
}
.True4{
    border: solid black 2px;
    background: url("./Sources/fourImageDesktop.jpg") no-repeat center;
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px black;
}
.True5{
    border: solid black 2px;
    background: url("./Sources/fiveImageDesktop.jpg") no-repeat center;
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px black;
}
.True6{
    border: solid black 2px;
    background: url("./Sources/sixImageDesktop.jpg") no-repeat center;
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px black;
}
.False{
    border: solid black 2px;
    background: url("./Sources/false.jpg")no-repeat center;
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px black;
}

/* -> Para validación cards*/
.PlusCard{
    border: solid red 2px;
    opacity: 1;
}
.PlusButton{
    border: double white 6px;
    background-color: black;
    color: white;
}
